<meta charset="UTF-8" />
<title>Neng Lao: HW4</title>

<link rel="stylesheet" href="/css/styles.css" />
<header>
  <h1
    style="
      display: inline-block;
      color: rgb(255, 255, 255);
      border: 2px solid rgb(255, 255, 255);
      padding: 0.25em 0.5em;
      border-radius: 4px;
      cursor: pointer;
    "
    onclick="location.href='/';"
  >
    Neng Lao
  </h1>
  <p style="font-style: italic"><%= quote %></p>
  <hr />
</header>
