<nav>
  <a href="/software_engineering" class="<%= currentPage === 'software_engineering' ? 'active' : '' %>">Software Engineering</a>
  <a href="/algorithms" class="<%= currentPage === 'algorithms' ? 'active' : '' %>">Algorithms</a>
  <a href="/software_design" class="<%= currentPage === 'software_design' ? 'active' : '' %>">Software Design</a>
  <a href="/project_management" class="<%= currentPage === 'project_management' ? 'active' : '' %>">Project Management</a>
</nav>
