<nav>
    <a href="/software_engineering">Software Engineering</a>
    <a href="/algorithms">Algorithms</a>
    <a href="/software_design">Software Design</a>
    <a href="/project_management">Project Management</a>
</nav>